.headerbro {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 45px;
    padding-right: 45px;
    align-items: center;
    text-align: center;
    color: white;
}


.fullDoc {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
}

#jumbo {
    background-color: rgb(0, 0, 0);
}

#portfolio-cards {
    background-color: rgb(0, 0, 0);
    align-items: center;
}

.nav-inner {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 16px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 10px;
    color: black;
    text-decoration: none;
    color: white;
}

#footer-bro {
    padding-top: 90px;
    padding-bottom: 90px; 
    font-size: 35px;
    color: black;
}

#carouselExampleSlidesOnly {
    padding-bottom: 200px;
    padding-top: 50px;
    opacity: 0.95;
}

.titlebruh {
    font-weight: bold !important;
    font-size: 40px;
    letter-spacing: 2px;
    padding-bottom: 45px;
}

#power {
    padding-bottom: 25px;
}

.portfolio-cards {
    background-color: rgb(0, 0, 0);
}

.card {
    background-color: rgb(0, 0, 0) !important;
}

html {
    scroll-behavior: smooth;
  }


#myBtn {
display: none; /* Hidden by default */
position: fixed; /* Fixed/sticky position */
bottom: 20px; /* Place the button at the bottom of the page */
right: 30px; /* Place the button 30px from the right */
z-index: 99; /* Make sure it does not overlap */
border: none; /* Remove borders */
outline: none; /* Remove outline */
background-color: white; /* Set a background color */
color: black; /* Text color */
cursor: pointer; /* Add a mouse pointer on hover */
padding: 15px; /* Some padding */
border-radius: 10px; /* Rounded corners */
font-size: 18px; /* Increase font size */
}

#myBtn:hover {
background-color: #555; /* Add a dark-grey background on hover */
} 

  @media only screen and (max-width: 768px) {

  .tarjetas {
    align-items: center !important;
    padding-left: 66px;
  }

}